$text-deep-green: #002603;
$text-grey: #666666;
$mild-grey: #808080;
$light-grey: #333333;
$text-dark-grey: #4d4d4d;
$dirty-white: #f2f2f2;
$input-grey-outline: #e6e6e6;
$brand-green: #00b207;
$light-green: #edf2ee;
$white: #ffffff;
$black: #1a1a1a;
$golden-yellow: #ff8a00;

.global-padding {
  padding: 1rem calc(10% - 1rem);
}

.global-y-padding {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
